.form-row{
    padding: 10px;
display: flex;
margin-top: 1px;
}
.form-row label{
    padding-right:10px;
    text-align: center;
    color:goldenrod;
    flex:1;
}
.form-row-input{
    height: 30px;
    padding-right:0px;
    margin-left:0px;
}
.allign
{
    border:2px solid brown;
    padding: 16px;
    color: gray;
    margin-left: 450px;
    margin-right: 300px;
    margin-top: 50px;
    height: 400px;
    border-radius: 10px;
    border-spacing: 33px;
    background:white;
}

@media screen and(max-width:320px)
{
    
}