
.form-row label{
    margin-top: 10px;
margin-left: 0px;
    text-align: left;
    font: bold;

    color:black;
    font-size: 18px;
    font-style: italic;
    flex:1;
}

.allign
{
    border:2px solid black;

    color: gray;

    margin-top: 80px;
      width: 30%;
      margin-left: 500px;
    border-radius: 10px;
    background-color:   rgb(226, 209, 226);

}

.login
{
    color:rgb(42, 42, 184);
    font-style: normal;
}
 

@media screen and(max-width:320px)
{
    
}